<%- include('header'); -%>

<body>
    <div id="message">
        <div class="about">
            <div class="what">
                <div>ERROR: </div>
                <div>
                    <%=message%>
                </div>
                <div class="features">Current Features:
                    <ul>
                        <li>Your driving experience</li>
                        <li>!! BEAUTIFUL BACKGROUND and DIFFERENT COLOR MOOD !! depending on your driving experience
                        </li>
                        <li style="font-weight: bold; color: rgb(158, 17, 17);">Currently the app will <span
                                style="color: rgb(184, 20, 129); font-weight: bolder;">SOMETIMES</span> spit out errors,
                            this happens because the app searches for cities that could possibly be located elsewhere in
                            the world. Moreover, there are duplicated Cities across the world and some cities are not properly implemented yet, but will be in the future.</li>
                        <li>Check it out for more !! 😁</li>
                    </ul>
                </div>
                <div class="features">Future Features:
                    <ul>
                        <li>Better UI</li>
                        <li>Mobile friendly</li>
                        <li>List of cities and Country selection</li>
                        <li>Day and Night weather specific</li>
                        <li>Improved city accuracy</li>
                        <li>Got any ideas? ... connect with me at <a href="mailto:niwdla0405@gmail.com">click here</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="/"><button id="close">HOME</button></a>
        </div>

        <%- include('footer'); -%>