<%- include('header'); -%>

<body>

    <form action="/" method="post">
        <h1>Weather</h1>
        <input type="text" name="from" placeholder="From what city?" value='bayonne'>
        <input type="text" name="to" placeholder="To what city?" value="fort lee">
        <button type="submit">Check weather</button>
    </form>
    <%- include('footer'); -%>