<%- include('header'); -%>

<body class="index">
    <div id="wrapper">
        <div class='itemInputContainer'>
            <form action="/" method="post">
                <h1 class='center'>weDrive</h1>
                <input type="text" value="Elizabeth" name="from" id='itemInput' placeholder="From what city?" autofocus>
                <input type="text" value="Paramus" name="to" id='itemInput' placeholder="To what city?">
                <button type="submit" class='center'>Check Weather</button>
            </form>
        </div>
    </div>

    <%- include('footer'); -%>