body.weather-response-wrapper-01d {
    background: #ffffff url("/images/sunny.jpg") no-repeat fixed center;
    background-size: 100%;
    color: rgb(252, 252, 252);
}

body.weather-response-wrapper-02d {
    background: #ffffff url("/images/cloud.jpg") no-repeat fixed center;
    background-size: 100%;
    color: rgb(252, 252, 252);
}

body.weather-response-wrapper-03d {
    background: #ffffff url("/images/cloud.jpg") no-repeat fixed center;
    background-size: 100%;
    color: rgb(252, 252, 252);
}

body.weather-response-wrapper-04d {
    background: #ffffff url("/images/cloud.jpg") no-repeat fixed center;
    background-size: 100%;
    color: rgb(252, 252, 252);
}

body.weather-response-wrapper-09d {
    background: #ffffff url("/images/drizzle.jpg") no-repeat fixed center;
    background-size: 100%;
    color: rgb(252, 252, 252);
}

body.weather-response-wrapper-10d {
    background: #ffffff url("/images/rain.jpg") no-repeat fixed center;
    background-size: 100%;
    color: rgb(252, 252, 252);
}

body.weather-response-wrapper-11d {
    background: #ffffff url("/images/thunderstorm.jpg") no-repeat fixed center;
    background-size: 100%;
    color: rgb(252, 252, 252);
}

body.weather-response-wrapper-13d {
    background: #ffffff url("/images/snow.jpg") no-repeat fixed center;
    background-size: 100%;
    color: rgb(252, 252, 252);
}

body.weather-response-wrapper-50d {
    background: #ffffff url("/images/mist.jpg") no-repeat fixed center;
    background-size: 100%;
    color: rgb(252, 252, 252);
}

.fa-angle-double-right {
    font-size: 48px;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 2s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}


.sunny-01d {
    background-image: linear-gradient(120deg, #ff8753 0%, #ff595c 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #ff8753;
}

.sunny-desc-01d {
    background-image: linear-gradient(120deg, #ff595c 0%, #ff8753 100%);
    box-shadow: 0px 0px 20px #ff595c;
}

.mainDescWrapper-01d {
    width: 50%;
    background-image: linear-gradient(120deg, #ff8753 0%, #ff595c 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #ff8753;
    margin: 5% auto 0;
    padding: 1%;
}

.sunny-02d {
    background-image: linear-gradient(120deg, #d079fc 0%, #79d0fc 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #d079fc;
    color: rgb(31, 29, 29);
}

.sunny-desc-02d {
    background-image: linear-gradient(120deg, #79d0fc 0%, #d079fc 100%);
    box-shadow: 0px 0px 20px #79d0fc;
    color: rgb(31, 29, 29);
}

.mainDescWrapper-02d {
    width: 50%;
    background-image: linear-gradient(120deg, #d079fc 0%, #79d0fc 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #d079fc;
    margin: 5% auto 0;
    padding: 1%;
    color: rgb(31, 29, 29);
}

.sunny-03d {
    background-image: linear-gradient(120deg, #d079fc 0%, #79d0fc 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #d079fc;
    color: rgb(31, 29, 29);
}

.sunny-desc-03d {
    background-image: linear-gradient(120deg, #79d0fc 0%, #d079fc 100%);
    box-shadow: 0px 0px 20px #79d0fc;
    color: rgb(31, 29, 29);
}

.mainDescWrapper-03d {
    width: 50%;
    background-image: linear-gradient(120deg, #d079fc 0%, #79d0fc 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #d079fc;
    margin: 5% auto 0;
    padding: 1%;
    color: rgb(31, 29, 29);
}

.sunny-04d {
    background-image: linear-gradient(120deg, #d079fc 0%, #79d0fc 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #d079fc;
    color: rgb(31, 29, 29);
}

.sunny-desc-04d {
    background-image: linear-gradient(120deg, #79d0fc 0%, #d079fc 100%);
    box-shadow: 0px 0px 20px #79d0fc;
    color: rgb(31, 29, 29);
}

.mainDescWrapper-04d {
    width: 50%;
    background-image: linear-gradient(120deg, #d079fc 0%, #79d0fc 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #d079fc;
    margin: 5% auto 0;
    padding: 1%;
    color: rgb(31, 29, 29);
}

.sunny-09d {
    background-image: linear-gradient(120deg, #ff8753 0%, #ff595c 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #ff8753;
}

.sunny-desc-09d {
    background-image: linear-gradient(120deg, #ff595c 0%, #ff8753 100%);
    box-shadow: 0px 0px 20px #ff595c;
}

.mainDescWrapper-09d {
    width: 50%;
    background-image: linear-gradient(120deg, #ff8753 0%, #ff595c 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #ff8753;
    margin: 5% auto 0;
    padding: 1%;
}

.sunny-10d {
    background-image: linear-gradient(120deg, #f0e2fc 0%, #e2fafc 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #f0e2fc;
    color: rgb(43, 41, 41);
}

.sunny-desc-10d {
    background-image: linear-gradient(120deg, #e2fafc 0%, #f0e2fc 100%);
    box-shadow: 0px 0px 20px #e2fafc;
    color: rgb(43, 41, 41);

}

.mainDescWrapper-10d {
    background-image: linear-gradient(120deg, #f0e2fc 0%, #e2fafc 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #f0e2fc;
    color: rgb(43, 41, 41);

}

.sunny-11d {
    background-image: linear-gradient(120deg, #ff8753 0%, #ff595c 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #ff8753;
}

.sunny-desc-11d {
    background-image: linear-gradient(120deg, #ff595c 0%, #ff8753 100%);
    box-shadow: 0px 0px 20px #ff595c;
}

.mainDescWrapper-11d {
    width: 50%;
    background-image: linear-gradient(120deg, #ff8753 0%, #ff595c 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #ff8753;
    margin: 5% auto 0;
    padding: 1%;
}

.sunny-13d {
    background-image: linear-gradient(120deg, #f3f1ff 0%, #b5ade8 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #f3f1ff;
}

.sunny-desc-13d {
    background-image: linear-gradient(120deg, #b5ade8 0%, #f3f1ff 100%);
    box-shadow: 0px 0px 20px #b5ade8;
}

.mainDescWrapper-13d {
    width: 50%;
    background-image: linear-gradient(120deg, #f3f1ff 0%, #b5ade8 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #f3f1ff;
    margin: 5% auto 0;
    padding: 1%;
}

.sunny-50d {
    background-image: linear-gradient(120deg, #f0e2fc 0%, #e2fafc 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #f0e2fc;
    color: rgb(43, 41, 41);
}

.sunny-desc-50d {
    background-image: linear-gradient(120deg, #e2fafc 0%, #f0e2fc 100%);
    box-shadow: 0px 0px 20px #e2fafc;
    color: rgb(43, 41, 41);
}

.mainDescWrapper-50d {
    background-image: linear-gradient(120deg, #f0e2fc 0%, #e2fafc 100%);
    border-radius: 1.5em;
    box-shadow: 0px 0px 20px #f0e2fc;
    color: rgb(43, 41, 41);

}

.descW {
    width: 50%;
    margin: 5% auto 0;
    padding: 1%;
}






.author {
    font-size: 1.8em;
    margin-right: 5%;
    text-align: right;
}

.mainDesc {
    font-size: 1.5em;
    display: inline;
}

.descFont {
    font-size: 1.8em;
}

.inlineBl {
    display: inline-block;
}

.mainImg {
    height: 120px;
}

.descQ {
    font-size: 1.3em;
    width: 75%;
    margin: auto 0;
}

#itemInput {
    margin: 1rem 0 0;
    width: 100%;
    height: 2rem;
    font-size: .8rem;
    text-align: center;
    border-radius: 5px;
}

#itemInput:focus {
    transition: all .5s;
    border: 0px solid transparent;
    box-shadow: 0px 0px 60px 2px rgba(138, 64, 235, 0.678);
}

body.index {
    background: lightblue url("/images/beach-blur-close-up-949215.jpg") no-repeat fixed center;
}

#wrapper {
    width: 400px;
    margin: 13% auto;
    background-color: rgba(240, 248, 255, 0.658);
    padding: 2% 3%;
    border: 0px solid transparent;
    border-radius: 10px;
}

.center {
    text-align: center;
}

button.center {
    width: 180px;
    margin: 8% 20% 0;
    border: 0 solid transparent;
    background-color: rgba(162, 191, 202, 0.562);
    font-size: 1.3em;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(134, 79, 206, 0.678);
}
